#top{
    color:#f50a0a;
    text-align:center;
    font-size:46px;
    font-family: 'Ubuntu Mono', monospace;
}
#top1{
    text-align:center;
    color:rgb(184, 24, 24);
    font-size:21px;
    font-family: 'Ubuntu Mono', monospace;
}
